body { 
  width: 400px; 
  padding: 24px 12px; 
  height: 500px;
  margin: .3rem;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  padding-bottom: 24px;
}

h1{
  font-size: 24px;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.logo{
  width: 24px;
  height: 24px;
  border: 1px solid #cccccc;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
textarea { 
  outline: none;
  resize: none;
  width: 100%; 
  height: 350px; 
  box-sizing: border-box; 
  margin-top: 2rem;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: .5rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

button {
  all: unset;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: .5rem;
  width: 80px;
  margin-left: auto;
  margin-top: .5rem;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0,0,0,0.10);
}
